@page "/livros"
@rendermode InteractiveServer
@using MinhaEstante.Models
@using MinhaEstante.Data
@inject AppDbContext _context

<h3>Minha Estante</h3>

<p>Total de livros: @livros.Count</p>

<div>
    <input @bind="novoTitulo" placeholder="Título" />
    <input @bind="novoAutor" placeholder="Autor" />
    <button style="margin: 4px; border-radius: 4px; border: 1px solid silver;" @onclick="SalvarLivro">Salvar</button>
</div>

<hr />

<ul>
    @foreach (var livro in livros)
    {
        <li>
            @livro.Titulo - @livro.Autor
            <button style="margin: 4px; border-radius: 4px; border: 1px solid silver;" @onclick="() => EditarLivro(livro)">Editar</button>
            <button style="margin: 4px; border-radius: 4px; border: 1px solid silver;" @onclick="() => RemoverLivro(livro.Id)">Remover</button>
        </li>
    }
</ul>

@code {
    List<Livro> livros = new();

    string novoTitulo = "";
    string novoAutor = "";

    Livro livroEditando = null;

    protected override void OnInitialized()
    {
        livros = _context.Livros.ToList();
    }

    void SalvarLivro()
    {
        if (string.IsNullOrWhiteSpace(novoTitulo) || string.IsNullOrWhiteSpace(novoAutor))
            return;

        if (livroEditando != null)
        {
            // EDITAR
            livroEditando.Titulo = novoTitulo;
            livroEditando.Autor = novoAutor;

            _context.Update(livroEditando);
            livroEditando = null;
        }
        else
        {
            // ADICIONAR
            _context.Livros.Add(new Livro
            {
                Titulo = novoTitulo,
                Autor = novoAutor
            });
        }

        _context.SaveChanges();

        livros = _context.Livros.ToList();

        novoTitulo = "";
        novoAutor = "";
    }

    void RemoverLivro(int id)
    {
        var livro = _context.Livros.FirstOrDefault(l => l.Id == id);

        if (livro != null)
        {
            _context.Livros.Remove(livro);
            _context.SaveChanges();

            livros = _context.Livros.ToList();
        }
    }

    void EditarLivro(Livro livro)
    {
        livroEditando = livro;
        novoTitulo = livro.Titulo;
        novoAutor = livro.Autor;
    }
}